.follow_button {
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--another_purple);
    border: var(--primary_text_color) 2px solid;
    color: var(--primary_text_color);
    text-decoration: none;
    
    &:hover {
        background: var(--primary_text_color);
        transform: scale(1.12);
        color: var(--another_purple);
    }

    &:active {
        transform: scale(1.06);
    }
}