.footer {
    background: var(--primary_background_color);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        a {
            color: var(--primary_text_color);
            font-size: 1.5rem;

            img{
                width: 2.2vw;
                height: 2.2vw;

                &:hover {
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(1.05);
                }
            }
        }

    }
}